.menu{
	width: 100%
	height:200px;
}
.frase{
	margin-top: 50px;
}
.barra{
	margin-top: 50px;
}
.fa-search:before {
  content: "\f002";
}
.fondo{
	background-image: url(../img/banner.jpg);
	height: 650px;
}
.fondo-1{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	margin-top: -8px;
	margin-right: -53px;
	margin-left: -60px;
	background-color: #DFB636;
	overflow: hidden;
}
.icon{
	position: absolute;
	top: 400px;
	left: 400px;
}
button{
	width: 60px;
	height: 40px;
	background-color: #383838;
	border:2px solid green;
	border-radius: 5px;
	color: green;
	margin: 10px 0px;
	display: inline-block;
}
.trailer{
	width:160px;
	height:60px;
	background-color:#DFB636;
	border-radius:10px;
	border: 1px solid #BB7B29;
	margin:20px 0px 20px;
	display: block;
	color: white;
}
.trailer-2{
	width:160px;
	height:60px;
	background-color:#BB7B29;
	border-radius:10px;
	border: 1px solid #BB7B29;
	margin:20px 0px 20px;
	display: block;
	color:white;
}
.article{
	position: absolute;
	top: 150px;
	left: 900px;
	color: #D1D1D1;
	font-size: 25px;
}

h6{
	display: inline-block;
}
.linea{
	width: 300px;
	border: 1px solid gray;
}
.boton {
	width:140px;
	height:60px;
	background-color:#BB7B29;
	border-radius:10px;
	border: 1px solid #BB7B29;
	margin:20px 0px 20px;
}
.boton a{
	color: white;
}
.container-imagenes {
	margin-bottom:20px;
	margin-top:20px;
}
.texto h3, p {
	margin-top: 20px;
	font-family:helvetica, sans serif;
 	color:gray;
}

.texto h2 {
	font-family:helvetica, sans serif;
}
.texto h4 {
	font-family:helvetica, sans serif;
	color:black;
}

img {
	margin-bottom:20px;
	margin-top:20px;
}

footer {
	background-color:#E6E6E6;
}
a{
	text-decoration: none;
	color: gray;
	margin-left: 15px;
}

 footer p, h4 {
 	padding: 14px;
 	font-family:helvetica, sans serif;
 	font-size:16px;
 	color:gray;
}


